.cabezalEmpresa {
  width: 100%;
  height: 120px;
  background-color: #333;
  text-align: center;
  color: white;
  padding-top: 1px;
}

.nombreEmpresa {
  margin-top: 16px;
  font-size: 25pt;
}

.taglineJuego {
  margin-top: 6px;
  font-size: 19pt;
}

.containerMain {
  height: 479px;
}

.tituloCategoria {
  margin-bottom: 25px;
}

.containerMain .loader-container {
  padding-top: 140px;
}
.containerMain .loader-container .loader {
  margin-top: 0px;
}
