.cabezalEmpresa {
  width: 100%;
  height: 120px;
  background-color: #333;
  text-align: center;
  color: white;
  padding-top: 1px;
}

.nombreEmpresa {
  margin-top: 16px;
  font-size: 25pt;
}

.taglineJuego {
  margin-top: 6px;
  font-size: 19pt;
}

.containerCategorias {
  height: 489px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.categoria {
  background-color: #00adef;
  grid-row: 1;
  text-align: center;
  color: white;
  font-weight: 600;
  padding-top: 10px;
  font-size: 13pt;
}

.categoria.par {
  background-color: #0289bd;
}

.tituloCategoria {
  margin-bottom: 25px;
}

.containerBotonesPreguntas {
  display: grid;
  grid-auto-rows: auto;
  height: 420px;
  justify-items: center;
  align-items: center;
}
