.cabezalEmpresa {
  width: 100%;
  height: 120px;
  background-color: #333;
  text-align: center;
  color: white;
  padding-top: 1px;
}

.nombreEmpresa {
  margin-top: 16px;
  font-size: 25pt;
}

.taglineJuego {
  margin-top: 6px;
  font-size: 19pt;
}

.containerCategorias {
  height: 489px;
  display: grid;
  grid-auto-columns: auto;
}

.categoria {
  background-color: #00adef;
  grid-row: 1;
  text-align: center;
  color: white;
  font-weight: 600;
  padding-top: 10px;
  font-size: 13pt;
}

.categoria.par {
  background-color: #0289bd;
}

.tituloCategoria {
  margin-bottom: 25px;
}

.containerBotonesPreguntas {
  display: grid;
  grid-auto-rows: auto;
  height: 420px;
  justify-items: center;
  align-items: center;
}

.pieEquipos {
  height: 90px;
  background-color: #333;
  padding: 10px;
  padding-right: 50px;
  color: white;
  display: grid;
  grid-auto-columns: auto;
}

.logoLudicamente {
  grid-row: 1;
  background-image: url(/images/logoLudicamente300.png);
  width: 146px;
  height: 68px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 8px;
  margin-left: 20px;
}

.etiquetasEquiposPuntajes {
  grid-row: 1;
}

.etiquetasEquiposPuntajes span {
  display: block;
  font-weight: 1000;
  margin-top: 12px;
  margin-bottom: 17px;
  text-align: center;
}

.etiquetasEquiposPuntajes .nombreEquipo {
  border-bottom: 1px solid #0289bd;
}

.etiquetasEquiposPuntajes .puntajes {
  font-size: 24pt;
  margin-bottom: 0px;
}

.etiquetasEquiposPuntajes.activo {
  background-color: #0289bd;
}
